body{
    margin: 0;
    padding: 0;
}
nav{
    margin: 8px 0;
    vertical-align: middle;
    width: 100%;
}

#logo{
    margin: auto 850px auto 50px;
    width: 5%;
}

nav li{
    display: inline-flex;
    margin: 5px 1%;
    vertical-align: middle;
    font-size: 17px;
    font-family: 'Fraunces', serif;
    font-weight: 600;
    text-align: right;
}

a {
    text-decoration: none;
    color: #000000;
}

#banner{
    background-color: #A396C8;
    width: 100%;
    padding: 50px 0;
    padding-bottom: 150px;
    text-align: center;
    font-size: 25px;
    font-family: 'Fraunces', serif;
    font-weight: 600;
    color: #FFFF;
}

td{
    text-align: center;
    border-left: 50px solid rgb(255, 255, 255);
    border-right: 50px solid rgb(255,255,255);
}

#boxs{
    margin: -100px auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    border-radius: 15px;
	width:700px;
	height:620px;
	background-color:#FFFF;
    vertical-align: middle;
    box-shadow: rgba(0, 0, 0, 0.08) 10px 10px 20px;
}


td>img{
    display: flex;
    margin: auto;
    width: 180px;
}

form li{
    margin: 5px 0;
    text-align: center;
}
form li>input{
    width: 250px;
    height: 30px;
    border-radius: 6px;
    border-color: #8672c0;
    margin: auto;
    text-align: center;
}

label{
    font-family: 'Fraunces', serif; 
    display: flex;
    margin: auto;
    max-width: 260px;
}
legend{
    font-family: 'Fraunces', serif;
}
.radio{
    justify-content: center;
    display: flex;
    margin: auto;
}
button{
    width: 250px;
    height: 35px;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    margin: auto;
    justify-content: center;
    background: #A396C8;
    border-color: #8672c0;
    font-family: 'Fraunces', serif;
}

#pet form ul{
    margin: 100px 100px;
}
#pet form li{
    margin: 20px 0;
    text-align: center;
}
#add{
    width: 250px;
    height: 70px;
}
