
nav li{

    display: inline-flex;
    margin: 5px 3%;
    vertical-align: middle;
    font-size: 17px;    
}

#logo{

    margin-left: 30%;
    width: 10%;
}

form{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form li{
    margin: 7px;
}